<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Technology</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees">
                    <td>{{ emp.id }}</td>
                    <td>{{ emp.name }}</td>
                    <td>{{emp.technology}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>